<div class="container-fluid s-background">
  <!-- <div class="d-none d-lg-block "> -->
  <div class="row">
    <div class="col-md-6 col-sm-12 col-xs-12 col-1-pad">
      <div class='sprite shape6'></div>
      <div class='sprite shape4'></div>


      <ul>
        <li>
          <h1 class="first-card text-center first-card-caption">Meet the<br> <span style="color: #E4AD27">2017/18</span>
            <br> Speakers</h1>
        </li>
        <li style="position: relative" *ngFor="let item of speakersObj; let even = even; let odd = odd"
          [ngClass]="{'display-block': odd, 'display-none':even}">
          <img src={{item.image}} alt="">
          <h1 class="speakerName">{{item.name}}</h1>
          <p class="speakerdesignation">{{item.company}}</p>

        </li>
        <!-- <li style="position: relative">
          <img src="../../../assets/speakers/imran-khan.png" alt="">
          <h1 class="speakerName">Imran Khan</h1>
          <p class="speakerdesignation">PM Pakistan</p>
        </li>
        <li>
          <img src="../../../assets/speakers/Amir Ibrahim - CEO - JAZZ.png" alt="">
          <h1 class="speakerName">Aamir Ibrahim</h1>
          <p class="speakerdesignation">Jazz</p>
        </li>
        <li>
          <img src="../../../assets/speakers/Chrystele Dumont.png" alt="">
          <h1 class="speakerName">Chrystele Dumont</h1>
          <p class="speakerdesignation">Microsoft</p>
        </li>
        <li>
          <img src="../../../assets/speakers//Eduardo Aspillga.png" alt="">
          <h1 class="speakerName">Eduardo Aspillga</h1>
          <p class="speakerdesignation">IBM</p>
        </li> -->
      </ul>
    </div>
    <div class="col-md-6 col-sm-12 col-xs-12">
      <div class='sprite shape7'></div>
      <ul>
        <li style="position: relative" *ngFor="let item of speakersObj; let even = even; let odd = odd"
          [ngClass]="{'display-none': odd, 'display-block':even}">
          <img src={{item.image}} alt="">
          <h1 class="speakerName">{{item.name}}</h1>
          <p class="speakerdesignation">{{item.company}}</p>

        </li>
        <!--<li>
          <img src="../../../assets/speakers/Jon-Austin.png" alt="">
          <h1 class="speakerName-col-2">Jon Austin</h1>
          <p class="speakerdesignation-col-2">Amazon Web Services</p>
        </li>
        <li>
          <img src="../../../assets/speakers/lashley-pulsipher.png" alt="">
          <h1 class="speakerName-col-2">Lashley Pulsipher</h1>
          <p class="speakerdesignation-col-2">Hashoo Group </p>
        </li>
        <li>
          <img src="../../../assets/speakers/mudassir-759x500.png" alt="">
          <h1 class="speakerName-col-2">Mudassir Sheikha</h1>
          <p class="speakerdesignation-col-2">Careem</p>
        </li>
        <li>
          <img src="../../../assets/speakers/sarim-aziz.png" alt="">
          <h1 class="speakerName-col-2">Sarim Aziz</h1>
          <p class="speakerdesignation-col-2">Facebook </p>
        </li> -->
      </ul>
    </div>
  </div>
  <div class="bottom-right-yellow-bar"></div>
</div>
