<div class="container-fluid">
  <div class="d-none d-lg-block ">
    <div class="row">
      <div class="col-md-6 col-sm-12 col-xs-12 text-center">
        <div class='sprite shape6'></div>
        <div class='sprite shape4'></div>


        <ul>
          <li>
            <h1>Meet the<br> <span style="color: #E4AD27">2019</span> <br> Speakers</h1>
          </li>
          <li style="position: relative">
            <img src="../../../assets/speaker1.png" alt="">
            <h1 class="speakerName">speaker 1</h1>
            <p class="speakerdesignation">head of development</p>
          </li>
          <li>
            <img src="../../../assets/speaker2.png" alt="">
            <h1 class="speakerName">speaker 1</h1>
            <p class="speakerdesignation">head of development</p>
          </li>
          <li>
            <img src="../../../assets/speaker3.png" alt="">
            <h1 class="speakerName">speaker 1</h1>
            <p class="speakerdesignation">head of development</p>
          </li>
          <li>
            <img src="../../../assets/speaker4.png" alt="">
            <h1 class="speakerName">speaker 1</h1>
            <p class="speakerdesignation">head of development</p>
          </li>
        </ul>
      </div>
      <div class="col-md-6 col-sm-12 col-xs-12">
        <div class='sprite shape7'></div>
        <ul>
          <li>
            <img src="../../../assets/speaker5.png" alt="">
            <h1 class="speakerName-col-2">speaker 1</h1>
            <p class="speakerdesignation-col-2">head of development</p>
          </li>
          <li>
            <img src="../../../assets/speaker6.png" alt="">
            <h1 class="speakerName-col-2">speaker 1</h1>
            <p class="speakerdesignation-col-2">head of development</p>
          </li>
          <li>
            <img src="../../../assets/speaker6.png" alt="">
            <h1 class="speakerName-col-2">speaker 1</h1>
            <p class="speakerdesignation-col-2">head of development</p>
          </li>
          <li>
            <img src="../../../assets/speaker8.png" alt="">
            <h1 class="speakerName-col-2">speaker 1</h1>
            <p class="speakerdesignation-col-2">head of development</p>
          </li>
        </ul>
      </div>
    </div>
    <div class="bottom-right-yellow-bar"></div>
  </div>


  <div class="row">

    <div class="col-12 d-xs-block s-sm-block d-md-block d-lg-none">
      <div class="text-center">
        <h1>Meet the <span style="color: #E4AD27">2019</span> Speakers</h1>
      </div>

      <ngb-carousel>
        <ng-template ngbSlide>
          <img src="../../../assets/speaker1.png" alt="">
          <h1 class="speakerName">speaker 1</h1>
          <p class="speakerdesignation">head of development</p>
        </ng-template>
        <ng-template ngbSlide>
          <img src="../../../assets/speaker2.png" alt="">
          <h1 class="speakerName">speaker 1</h1>
          <p class="speakerdesignation">head of development</p>
        </ng-template>
        <ng-template ngbSlide>
          <img src="../../../assets/speaker3.png" alt="">
          <h1 class="speakerName">speaker 1</h1>
          <p class="speakerdesignation">head of development</p>
        </ng-template>
        <ng-template ngbSlide>
          <img src="../../../assets/speaker4.png" alt="">
          <h1 class="speakerName">speaker 1</h1>
          <p class="speakerdesignation">head of development</p>
        </ng-template>
        <ng-template ngbSlide>
          <img src="../../../assets/speaker5.png" alt="">
          <h1 class="speakerName-col-2">speaker 1</h1>
          <p class="speakerdesignation-col-2">head of development</p>
        </ng-template>
        <ng-template ngbSlide>
          <img src="../../../assets/speaker6.png" alt="">
          <h1 class="speakerName-col-2">speaker 1</h1>
          <p class="speakerdesignation-col-2">head of development</p>
        </ng-template>
        <ng-template ngbSlide>
          <img src="../../../assets/speaker6.png" alt="">
          <h1 class="speakerName-col-2">speaker 1</h1>
          <p class="speakerdesignation-col-2">head of development</p>
        </ng-template>
        <ng-template ngbSlide>
          <img src="../../../assets/speaker8.png" alt="">
          <h1 class="speakerName-col-2">speaker 1</h1>
          <p class="speakerdesignation-col-2">head of development</p>
        </ng-template>

      </ngb-carousel>
    </div>
  </div>


</div>
