<div class="container">

  <div class="d-none d-md-block">
    <div class="row">
      <div class="col-12 text-center">
        <h1>Our Partners</h1>
      </div>
    </div>
    <div class="row">
      <div class="col ">
        <mat-card class="google mat-elevation-z0"></mat-card>
      </div>
      <div class="col">
        <mat-card class="teamup mat-elevation-z0"></mat-card>
      </div>
      <div class="col">
        <mat-card class="aws mat-elevation-z0"></mat-card>
      </div>
      <div class="col">
        <mat-card class="facebook mat-elevation-z0"></mat-card>
      </div>
      <div class="col">
        <mat-card class="dot mat-elevation-z0"></mat-card>
      </div>

    </div>
    <div class="row">
      <div class="col">
        <mat-card class="draper mat-elevation-z0">
        </mat-card>
      </div>
      <div class="col">
        <mat-card class="social mat-elevation-z0"></mat-card>
      </div>
      <div class="col">
        <mat-card class="abacus mat-elevation-z0"></mat-card>
      </div>
      <div class="col">
        <mat-card class="idg mat-elevation-z0"></mat-card>
      </div>
      <div class="col">
        <mat-card class="techHub mat-elevation-z0"></mat-card>
      </div>

    </div>


    <div class="row">
      <div class="col">
        <mat-card style="margin:auto;" class="microsoft mat-elevation-z0"></mat-card>
      </div>
      <div class="col">
        <mat-card style="margin:auto;" class="plan9 mat-elevation-z0"></mat-card>
      </div>
      <div class="col">
        <mat-card style="margin:auto;" class="founder mat-elevation-z0"></mat-card>
      </div>


    </div>

  </div>

  <div class="d-xs-block s-sm-block d-md-none">
    <ngb-carousel>

      <ng-template ngbSlide>
        <div class="row">
          <div class="col-12 text-center">
            <h1>Our Partners</h1>
          </div>
        </div>
        <div class="row">
          <div class="col-4">
            <mat-card class="google mat-elevation-z0"></mat-card>
          </div>
          <div class="col-4">
            <mat-card class="teamup mat-elevation-z0"></mat-card>
          </div>
          <div class="col-4">
            <mat-card class="aws mat-elevation-z0"></mat-card>
          </div>


        </div>
        <div class="row">
          <div class="col-4">
            <mat-card class="facebook mat-elevation-z0"></mat-card>
          </div>
          <div class="col-4">
            <mat-card class="dot mat-elevation-z0"></mat-card>
          </div>
          <div class="col-4">
            <mat-card class="draper mat-elevation-z0">
            </mat-card>
          </div>



        </div>

      </ng-template>

      <ng-template ngbSlide>
        <div class="row">
          <div class="col-12 text-center">
            <h1>Our Partners</h1>
          </div>
        </div>
        <div class="row">
          <div class="col-4">
            <mat-card class="social mat-elevation-z0"></mat-card>
          </div>
          <div class="col-4">
            <mat-card class="abacus mat-elevation-z0"></mat-card>
          </div>
          <div class="col-4">
            <mat-card class="idg mat-elevation-z0"></mat-card>
          </div>
        </div>
        <div class="row">
          <div class="col-4">
            <mat-card style="margin:auto;" class="founder mat-elevation-z0"></mat-card>
          </div>
          <div class="col-4">
            <mat-card class="techHub mat-elevation-z0"></mat-card>
          </div>
          <div class="col-4">
            <mat-card style="margin:auto;" class="microsoft mat-elevation-z0"></mat-card>
          </div>

        </div>
      </ng-template>

    </ngb-carousel>
  </div>

</div>
