<div class="fyp-pitching-content">
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-sm-12 col-xs-12">
        <mat-card class="example-card mat-elevation-z0">
          <mat-card-header class="header">
            <div mat-card-avatar class="example-header-image"></div>
            <mat-card-title class="card-title">30-0-2009 / 2:00 PM</mat-card-title>

          </mat-card-header>

          <mat-card-content class="card-content">
            <div class="top-content">
              <h3>Integrate Banking Apis for<br>
                conversation based transactions.</h3><br>
              <div class="organizedBy">
                <div class="row">
                  <div class="col-6">
                    <p class="organizedByP"><b>Organized BY</b><br>Amazon Web Services</p>
                  </div>
                  <div class="col-6 logo"><img src="../../../assets/amazonLogo.png" alt=""></div>
                </div>
              </div>
              <br>
              <div class="row">
                <div class="col-6">
                  <p> <i><img src="../../../assets/tick.png" alt=""></i> Hall Number 24</p>
                </div>
                <div class="col-6">
                  <p><i><img src="../../../assets/tick.png" alt=""></i>Hall Number 24</p>
                </div>
                <div class="col-6">
                  <p><i><img src="../../../assets/tick.png" alt=""></i>Create your team</p>
                </div>
                <div class="col-6">
                  <p><i><img src="../../../assets/tick.png" alt=""></i>create your team</p>
                </div>
              </div>
            </div>

            <div class="price text-center">
              <h4>PKR 2,000</h4>
            </div>
            <div class="skills">

              <ul>
                <li>
                  Graphic Design
                </li>
                <li>
                  Web Design
                </li>
                <li>
                  Development
                </li>
                <li>
                  Photography
                </li>
                <li>
                  Social Media
                </li>
              </ul>
            </div>
          </mat-card-content>

        </mat-card>
      </div>

    </div>
  </div>

</div>
