<div id="hackathon-wrapper">
  <div class="bg">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <div id="title">
            <h1>
              AWS Hackdays 2019
            </h1>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="body">
    <div class="container">
      <div class="row">
        <div class="col-md-8 col-sm-12 col-xs-12">
          <span class="list-heading" style="margin-top: 0;">
            Integrate Banking Apis for conversion based transactions.
          </span>
          <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Debitis fuga autem minima mollitia, aspernatur
            reiciendis temporibus earum quaerat ea? Deserunt dolore iste minima aut repellat aperiam. Earum molestiae
            quam fuga.</p>

          <div id="prereq">
            <span class="list-heading">Prerequisite</span>
            <ul class="circ-check">
              <li>
                Lorem ipsum, dolor sit amet consectetur
              </li>
              <li>
                Lorem ipsum, dolor sit amet consectetur
              </li>
              <li>
                Lorem ipsum, dolor sit amet consectetur
              </li>
              <li>
                Lorem ipsum, dolor sit amet consectetur
              </li>
              <li>
                Lorem ipsum, dolor sit amet consectetur
              </li>
              <li>
                Lorem ipsum, dolor sit amet consectetur
              </li>
            </ul>
          </div>
          <div id="rules">
            <span class="list-heading">Rules</span>
            <ul class="circ-check">
              <li>
                Lorem ipsum, dolor sit amet consectetur
              </li>
              <li>
                Lorem ipsum, dolor sit amet consectetur
              </li>
              <li>
                Lorem ipsum, dolor sit amet consectetur
              </li>
              <li>
                Lorem ipsum, dolor sit amet consectetur
              </li>
              <li>
                Lorem ipsum, dolor sit amet consectetur
              </li>
              <li>
                Lorem ipsum, dolor sit amet consectetur
              </li>
            </ul>
          </div>
        </div>
        <div class="col-md-4 col-sm-12 col-xs-12">
          <div class="section mat-elevation-z1">
            <div class="title bg-mustard">
              <span><i class="far fa-clock"></i>&nbsp; 30-04-2019 / 2:00 PM</span>
            </div>
            <div class="body">
              <ul class="norm">
                <li>
                  Hall Number 24
                </li>
                <li>
                  Hall Number 24
                </li>
                <li>
                  Hall Number 24
                </li>
              </ul>
            </div>
          </div>
          <div class="section mat-elevation-z1">
            <div class="title sec-title">
              Submission Deadline
            </div>
            <div class="body">
              <ul class="timers">
                <li>
                  <div class="timer">56</div>
                  <span class="timer-head">Days</span>
                </li>
                <li>
                  <div class="timer">56</div>
                  <span class="timer-head">Hours</span>
                </li>
                <li>
                  <div class="timer">56</div>
                  <span class="timer-head">Mins</span>
                </li>
                <li>
                  <div class="timer">56</div>
                  <span class="timer-head">Secs</span>
                </li>
              </ul>
            </div>
          </div>
          <div class="section mat-elevation-z1">
            <div class="title sec-title">
              Perks / Prizes
            </div>
            <div class="body">
              <ul class="norm">
                <li>
                  Hall Number 24
                </li>
                <li>
                  Hall Number 24
                </li>
                <li>
                  Hall Number 24
                </li>
              </ul>
            </div>
          </div>
          <div class="section mat-elevation-z1">
            <div class="title sec-title">
              Organized By
            </div>
            <div class="body">
              <div class="row">
                <div class="col">
                  <div class="a">Amazon Web Services</div>
                </div>
                <div class="col text-right">
                  <img class="img-thumbnail" src="../../../assets/awsLogo.png" alt="" srcset="">
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
