<div id="hackathon-wrapper">
  <div class="bg">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <div id="title">
            <h1>
              Fintech Hackathon 2019
            </h1>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="body">
    <div class="container">
      <div class="row">
        <div class="col-md-8 col-sm-12 col-xs-12">
          <span class="list-heading" style="margin-top: 0;">
            One of the most challenging and innovative Hackathon of the region
          </span>
          <p>Fintech Hackathon is the finest accomplishment of Momentum as we take pride in giving all tech geeks a
            platform to showcase their talent. We designed it to pave our way into the tech-powered tomorrow. During the
            event, teams gather around a huddle for 48 hours to build ideas and create solutions for it. This year it
            will be about finding a tech-powered solution for a real-time case from the financial sector backed by
            industry’s biggest names.
            <br>
            <br>
          </p>

          <div class="row">


            <div class="col-12 text-center">
              <h1>Organized By</h1>
              <br>
            </div>

          </div>
          <div class="row">


            <div class="col" *ngFor="let item of obj">
              <mat-card class="partner-card mat-elevation-z0" [style.background]="'url('+ item.image+')'"></mat-card>

            </div>
          </div>

          <div id="prereq">
            <span class="list-heading">Hackathon Judging Criteria</span>
            <h5><b>Entry rules</b></h5>
            <ul class="circ-check">

              <li>
                Teams of 2-5 humans are allowed to compete. Individuals are welcome to join and we will try to build the
                teams on the spot.
              </li>
              <li>
                Developers, designers and people with ideas on how to handle the challenges/tasks are allowed in the
                teams.
              </li>
              <li>
                Only demos of those hacks are allowed in presentations. No slide-decks or power-points are allowed.

              </li>

              <li>
                Presentations are limited to a 3-minute presentation and possible Q&A from the judges.
              </li>
              <li>
                All hacks must be submitted by 2 pm on the second day.

            </ul>

            <h5><b>Intellectual Property Rights
              </b></h5>
            <ul class="circ-check">

              <li>
                All submissions remain the intellectual property of the individuals or organizations that developed them
              </li>






            </ul>

            <h5><b>Protection of Intellectual Property

              </b></h5>
            <ul class="circ-check">

              <li>
                By submitting an Entry or accepting any prize, you represent and warrant the following: you will not
                submit content that is copyrighted, protected by trade secret or otherwise subject to third party
                intellectual property rights or other proprietary rights, including privacy and publicity rights, unless
                you are the owner of such rights or have permission from their rightful owner to post the content; and
                the content submitted by you does not contain any viruses, Trojan horses, worms or other disabling
                devices or harmful code.
              </li>






            </ul>

            <h5><b>Copyright

              </b></h5>
            <ul class="circ-check">

              <li>
                Participant represents and warrants that he or she is the sole author and copyright owner of the
                Submission, and that the Submission is an original work of the Participant, or if the Submission is a
                work based on an existing application, that the Participant has acquired sufficient rights to use and to
                authorize others; and that the Submission does not infringe upon any copyright or upon any other third
                party rights of which the Participant is aware, and that the Submission is free of malware.

              </li>






            </ul>


            <h5><b>Eligibility

              </b></h5>
            <ul class="circ-check">

              <li>

                The organizers have the right at their sole discretion to determine whether an entrant is eligible for
                the Contest. We may disqualify, at organizers’ sole discretion, the entries (including, without
                limitation, content submitted in connection therewith) that (a) are in violation of third party rights
                or law or regulation, (b) use inappropriate or explicit language or images, or display content that we
                or our Sponsors otherwise finds objectionable.


              </li>






            </ul>

            <h5><b>Winner Selection/Judging Criteria


              </b></h5>
            <ul class="circ-check">



              Winners will be judged based on the following criteria:
              <li>Quality and innovative nature of the hack </li>
              <li>Utility of the hack and its associated functions</li>
              <li> Compelling use of the available Technologies and Tools</li>
              <li> The Contest winners will be selected by a panel of judges. By submitting any Entry, entrants release
                the Organizers, Sponsors, their respective subsidiaries, affiliates, directors, officers, employees,
                representatives, agents, and advisors from any and all liability for any claims, costs, injuries,
                losses, or damages of any kind arising out of or in connection with the decisions of the Judges.</li>








            </ul>

          </div>





        </div>
        <div class="col-md-4 col-sm-12 col-xs-12">
          <div class="section mat-elevation-z1">
            <div class="title bg-mustard">
              <span><i class="far fa-clock"></i>&nbsp; 30-04-2019 / 2:00 PM</span>
            </div>
            <div class="body">
              <ul class="norm">
                <li>
                  Hall Number 24
                </li>
                <li>
                  Hall Number 24
                </li>
                <li>
                  Hall Number 24
                </li>
              </ul>
            </div>
          </div>
          <div class="section mat-elevation-z1">
            <div class="title sec-title">
              Application Deadline
            </div>
            <div class="body">
              <ul class="timers">
                <li>
                  <div class="timer">56</div>
                  <span class="timer-head">Days</span>
                </li>
                <li>
                  <div class="timer">56</div>
                  <span class="timer-head">Hours</span>
                </li>
                <li>
                  <div class="timer">56</div>
                  <span class="timer-head">Mins</span>
                </li>
                <li>
                  <div class="timer">56</div>
                  <span class="timer-head">Secs</span>
                </li>
              </ul>
            </div>
          </div>
          <div class="section mat-elevation-z1">
            <div class="title sec-title">
              Perks / Prizes
            </div>
            <div class="body">
              <ul class="norm">
                <li>
                  Hall Number 24
                </li>
                <li>
                  Hall Number 24
                </li>
                <li>
                  Hall Number 24
                </li>
              </ul>
            </div>
          </div>
          <div>
            <button (click)="openDialog()" class="btn btn-block btn-lg apply-now-btn">Apply
              Now</button>
          </div>
          <!-- <div class="section mat-elevation-z1">
            <div class="title sec-title">
              Organized By
            </div>
            <div class="body">
              <div class="row">
                <div class="col">
                  <div class="a">Amazon Web Services</div>
                </div>
                <div class="col text-right">
                  <img class="img-thumbnail" src="../../../assets/awsLogo.png" alt="" srcset="">
                </div>
              </div>
            </div>
          </div> -->
        </div>
      </div>
    </div>
  </div>
</div>
