<div id="content-id">
  <div class="container-fluid" style="position: relative;">
    <div class="sprite shape11"></div>
    <div class='sprite shape7'></div>
    <div class="row">
      <div class="sub-header">
        <div class="container content">
          <h3 class="main-heading">Conference Agenda</h3>
          <br />
          <p class="location">Marque, PC Karachi</p>
        </div>
      </div>
    </div>
    <br />
    <br />
    <div class="row">
      <div class="container">
        <div class="row tabs">
          <div class="col-12">
            <mat-tab-group mat-stretch-tabs class="bottom-pad">
              <mat-tab [label]=date1ToShow>
                <div class="border" *ngFor="let item of index1">
                  <div class="row" style="margin-right: 0px !important; margin-left: 0px !important">
                    <div class="col-md-3 col-sm-12 col-xs-12">
                      <div class="clip">
                        <p class="time-stamp">{{item.from}} - {{item.to}}</p>
                      </div>
                    </div>
                    <div class="col-md-9 col-sm-12 col-xs-12">
                      <h4 class="card-heading">
                        {{item.name}}
                      </h4>

                      <p>{{item.description}}</p>

                      <p class="grey-font">
                        <i class="keynote"><img src="../../../assets/keynote-speaker.png" alt="" /></i>
                        {{item.type}}
                      </p>

                      <!--row 1-->
                      <div class="row">

                        <div class="speaker-card col-md-3 col-sm-6 " *ngFor="let i of item.participant"
                          [ngClass]="{'hide-it':i.type === 'speaker' }">
                          <div class="row" *ngIf="i.type == 'moderator'">



                            <div class="col-3">

                              <img class="speaker-img" src={{i.imgUrl}} alt="">

                            </div>
                            <div class="col-9">
                              <p class="grey-font">{{i.name}}<br>({{i.type}})<br></p>
                            </div>

                          </div>

                        </div>

                      </div>

                      <!--row 2-->
                      <div class="row speaker-card-pad">

                        <div class="speaker-card col-3" *ngFor="let i of item.participant"
                          [ngClass]="{'hide-it':i.type === 'moderator' }">
                          <div class="row" *ngIf="i.type != 'moderator'">
                            <div class="col-12"></div>


                            <div class="col-3">

                              <img class="speaker-img" src={{i.imgUrl}} alt="">

                            </div>
                            <div class="col-9">
                              <p class="grey-font">{{i.name}}<br>({{i.type}})<br></p>
                            </div>

                          </div>

                        </div>

                      </div>
                      <!--row 2 ends here-->


                      <p class="grey-font" style="padding-top: 40px">
                        <i class="keynote">
                          <img src="../../../assets/wordpress.png" alt="" />
                        </i>
                        wordpress, event, startup, business
                      </p>
                    </div>
                  </div>
                </div>

              </mat-tab>
              <mat-tab [label]=date2ToShow>
                <div class="border" *ngFor="let item of index2">
                  <div class="row" style="margin-right: 0px !important; margin-left: 0px !important">
                    <div class="col-md-3 col-sm-12 col-xs-12">
                      <div class="clip">
                        <p class="time-stamp">{{item.from}} - {{item.to}}</p>
                      </div>
                    </div>
                    <div class="col-md-9 col-sm-12 col-xs-12">
                      <h4 class="card-heading">
                        {{item.name}}
                      </h4>

                      <p>{{item.description}}</p>

                      <p class="grey-font">
                        <i class="keynote"><img src="../../../assets/keynote-speaker.png" alt="" /></i>
                        {{item.type}}
                      </p>

                      <!--row 1-->
                      <div class="row">

                        <div class="speaker-card col-md-3 col-sm-6 " *ngFor="let i of item.participant"
                          [ngClass]="{'hide-it':i.type === 'speaker' }">
                          <div class="row" *ngIf="i.type == 'moderator'">



                            <div class="col-3">

                              <img class="speaker-img" src={{i.imgUrl}} alt="">

                            </div>
                            <div class="col-9">
                              <p class="grey-font">{{i.name}}<br>({{i.type}})<br></p>
                            </div>

                          </div>

                        </div>

                      </div>

                      <!--row 2-->
                      <div class="row speaker-card-pad">

                        <div class="speaker-card col-3" *ngFor="let i of item.participant"
                          [ngClass]="{'hide-it':i.type === 'moderator' }">
                          <div class="row" *ngIf="i.type != 'moderator'">
                            <div class="col-12"></div>


                            <div class="col-3">

                              <img class="speaker-img" src={{i.imgUrl}} alt="">

                            </div>
                            <div class="col-9">
                              <p class="grey-font">{{i.name}}<br>({{i.type}})<br></p>
                            </div>

                          </div>

                        </div>

                      </div>
                      <!--row 2 ends here-->

                      <p style="padding-top: 40px;" class="grey-font">
                        <i class="keynote">
                          <img src="../../../assets/wordpress.png" alt="" />
                        </i>
                        wordpress, event, startup, business
                      </p>
                    </div>
                  </div>
                </div>

              </mat-tab>
            </mat-tab-group>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
