<div id="content-id">
  <div class="container-fluid" style="position: relative;">
    <div class="sprite shape11"></div>
    <div class='sprite shape7'></div>
    <div class="row">
      <div class="sub-header">
        <div class="container content">
          <h3 class="main-heading">Conference Agenda</h3>
          <br />
          <p class="location">Marque, PC Karachi</p>
        </div>
      </div>
    </div>
    <br />
    <br />
    <div class="row">
      <div class="container">
        <div class="row tabs">
          <div class="col-12">
            <mat-tab-group mat-stretch-tabs>
              <mat-tab label="Tuesday 30th Apr">
                <div class="border">
                  <div class="row">
                    <div class="col-md-3 col-sm-12 col-xs-12">
                      <div class="clip">
                        <p class="time-stamp">10:00 - 10:30</p>
                      </div>
                    </div>
                    <div class="col-md-9 col-sm-12 col-xs-12">
                      <h4 class="card-heading">
                        Intelligently Connecting the world
                      </h4>

                      <p>Add some text</p>

                      <p class="grey-font">
                        <i class="keynote"><img src="../../../assets/keynote-speaker.png" alt="" /></i>
                        Keynote Speaker
                      </p>

                      <p class="grey-font">
                        <i class="keynote">
                          <img src="../../../assets/wordpress.png" alt="" />
                        </i>
                        wordpress, event, startup, business
                      </p>
                    </div>
                  </div>
                </div>
                <div class="border">
                  <div class="row">
                    <div class="col-md-3 col-sm-12 col-xs-12">
                      <div class="clip">
                        <p class="time-stamp">10:00 - 10:30</p>
                      </div>
                    </div>
                    <div class="col-md-9 col-sm-12 col-xs-12">
                      <h4 class="card-heading">
                        Intelligently Connecting the world
                      </h4>

                      <p>Add some text</p>

                      <p class="grey-font">
                        <i class="keynote"><img src="../../../assets/keynote-speaker.png" alt="" /></i>
                        Keynote Speaker
                      </p>

                      <p class="grey-font">
                        <i class="keynote">
                          <img src="../../../assets/wordpress.png" alt="" />
                        </i>
                        wordpress, event, startup, business
                      </p>
                    </div>
                  </div>
                </div>
              </mat-tab>
              <mat-tab label="Wednesday 1st May ">
                <div class="border">
                  <div class="row">
                    <div class="col-md-3 col-sm-12 col-xs-12">
                      <div class="clip">
                        <p class="time-stamp">10:00 - 10:30</p>
                      </div>
                    </div>
                    <div class="col-md-9 col-sm-12 col-xs-12">
                      <h4 class="card-heading">
                        Intelligently Connecting the world
                      </h4>

                      <p>Add some text</p>

                      <p class="grey-font">
                        <i class="keynote"><img src="../../../assets/keynote-speaker.png" alt="" /></i>
                        Keynote Speaker
                      </p>

                      <p class="grey-font">
                        <i class="keynote">
                          <img src="../../../assets/wordpress.png" alt="" />
                        </i>
                        wordpress, event, startup, business
                      </p>
                    </div>
                  </div>
                </div>
                <div class="border">
                  <div class="row">
                    <div class="col-md-3 col-sm-12 col-xs-12">
                      <div class="clip">
                        <p class="time-stamp">10:00 - 10:30</p>
                      </div>
                    </div>
                    <div class="col-md-9 col-sm-12 col-xs-12">
                      <h4 class="card-heading">
                        Intelligently Connecting the world
                      </h4>

                      <p>Add some text</p>

                      <p class="grey-font">
                        <i class="keynote"><img src="../../../assets/keynote-speaker.png" alt="" /></i>
                        Keynote Speaker
                      </p>

                      <p class="grey-font">
                        <i class="keynote">
                          <img src="../../../assets/wordpress.png" alt="" />
                        </i>
                        wordpress, event, startup, business
                      </p>
                    </div>
                  </div>
                </div>
              </mat-tab>
            </mat-tab-group>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
