<div class="container-fluid" style="    padding-bottom: 146px;">
  <div class="row top-pad">
    <div class="vertical-text d-none d-md-block">Momentum Tech Conference 2019</div>
    <div class="sprite shape11"></div>
    <div class='sprite shape2 d-none d-md-block'></div>
    <div class="col-12 text-center top-padd">
      <h1><b>What awaits you at<br>
          Momentum?</b></h1>
      <p>Have a look at last year’s highlights</p>
    </div>
    <div class='sprite shape3 .hidden-sm-down'></div>

    <div class="offset-md-3 col-md-6 col-sm-12 col-xs-12">


      <div class="max-width-1024">

        <iframe id="video" style="height: 400px; position:relative;z-index:100;" class="col-12"
          src='https://www.youtube.com/embed/rFDxtcfDOHo' type="video/youtube" frameborder="0" allowfullscreen></iframe>
        <!-- <div class="embed-responsive embed-responsive-16by9" id="player"> -->
      </div>
    </div>
    <!-- <iframe id="video" class="col-12" style="height: 400px;"
        [src]="bypass('https://www.youtube.com/embed/rFDxtcfDOHo')" frameborder="0" allowfullscreen>
      </iframe> -->

  </div>

</div>
