<div class="container p-container">

  <div class="row">
    <div class="col-12 text-center">
      <h1>Our Sponsors</h1> <br>
    </div>


  </div>
  <div class="row">

    <div [ngClass]="{'d-none': item.category!=='Sponsor'}" class="col-2 partners-col" *ngFor="let item of partnersArr">
      <mat-card *ngIf="item.category === 'Sponsor'" class="partner-card mat-elevation-z0"
        [style.background]="'url('+ item.image+')'">

      </mat-card>
      <br><br>
    </div>
  </div>

  <div class="row">
    <div class="col-12 text-center">
      <h1>Our Partners</h1>
    </div>


  </div>
  <div class="row">

    <div [ngClass]="{'d-none': item.category==='Sponsor'}" class="col-2 partners-col" *ngFor="let item of partnersArr">
      <mat-card *ngIf="item.category !== 'Sponsor'" class="partner-card mat-elevation-z0"
        [style.background]="'url('+ item.image+')'">

      </mat-card>
      <p class="text-center">{{item.category}}</p>

    </div>
  </div>

</div>
