<div class="container-fluid">
  <div class="d-none d-md-block">
    <div class="row ">
      <div class='sprite shape4'></div>
      <div class="col-md-4 col-lg-3 col-sm-12 col-xs-12">
        <mat-card class="first-card border-0 mat-elevation-z0">
          <h1>
            Here’s what<br />
            to expect at<br />
            Momentum<br />
            2019
          </h1>
        </mat-card>
      </div>
      <div class="col-md-4 col-lg-3 col-sm-12 col-xs-12">
        <mat-card>
          <img class="img-fluid" src="../../../assets/startup100Logo.png" />
          <br />
          <h5><b>Startup 100</b></h5>

          <mat-card-content>
            Do you have an idea that can impact? Have a product that could disrupt
            an industry? Your startup could be the next big thing at Momentum
            2019. Registration is open, apply now!
          </mat-card-content>
        </mat-card>
      </div>
      <div class="col-md-4 col-lg-3 col-sm-12 col-xs-12">
        <mat-card>
          <img class="img-fluid" src="../../../assets/networkingLoungeLogo.png" />
          <h5><b>Networking Lounge</b></h5>
          <mat-card-content>
            Connect with industry bigwigs and supercharge your discussions without
            needing to spread it out over an email chain across weeks!
          </mat-card-content>
        </mat-card>
      </div>
      <div class="col-md-4 col-lg-3 col-sm-12 col-xs-12">
        <mat-card>
          <img class="img-fluid" src="../../../assets/officeHoursLogo.png" />
          <h5><b>Office Hours</b></h5>
          <mat-card-content>
            Tailor your business to perform at its peak! Understand what it takes
            to run a well-oiled machine and how to optimize your way through
            challenges.
          </mat-card-content>
        </mat-card>
      </div>
      <div class="col-md-4 col-lg-3 col-sm-12 col-xs-12">
        <mat-card>
          <img class="img-fluid" src="../../../assets/musicLogo.png" />
          <h5><b>Music & Entertainment</b></h5>
          <mat-card-content>
            Work & play go hand in hand! When we aren’t working, we’re exploring
            the intersections of tech & entertainment through interactive exhibits
            and live entertainment acts.
          </mat-card-content>
        </mat-card>
      </div>
      <div class="col-md-4 col-lg-3 col-sm-12 col-xs-12">
        <mat-card>
          <img class="img-fluid" src="../../../assets/mainConferenceLogo.png" />
          <h5><b>Main Conference</b></h5>
          <mat-card-content>
            11,000+ Attendees, 300+ Startups & 60+ Investors alongside global
            technology partners that power giants around the world. Find your
            reason to attend yet?
          </mat-card-content>
        </mat-card>
      </div>
      <div class="col-md-4 col-lg-3 col-sm-12 col-xs-12">
        <mat-card>
          <img class="img-fluid" src="../../../assets/FYPLogo.png" />
          <h5><b>FYP Pitching</b></h5>
          <mat-card-content>
            Do you have an idea that can impact? Have a product that could disrupt
            an industry? Your startup could be the next big thing at Momentum
            2019. Registration is open, apply now!
          </mat-card-content>
        </mat-card>
      </div>
      <div class="col-md-4 col-lg-3 col-sm-12 col-xs-12">
        <mat-card>
          <img class="img-fluid" src="../../../assets/influencersLogo.png" />
          <h5><b>Influencers</b></h5>
          <mat-card-content>
            It isn’t just about industry professionals, its about influential that
            can help seed your message to the masses. You never know who you’ll
            find on the conference floors.
          </mat-card-content>
        </mat-card>
      </div>
    </div>
  </div>

  <div class='sprite shape5'></div>


  <div class="d-xs-block s-sm-block d-md-none">
    <ngb-carousel>

      <ng-template ngbSlide>
        <mat-card>
          <img class="img-fluid" src="../../../assets/startup100Logo.png" />
          <br />
          <h5><b>Startup 100</b></h5>
          <!-- <div class="carousel-caption">
            Startup 100 cap
          </div> -->

          <mat-card-content>
            Do you have an idea that can impact? Have a product that could disrupt
            an industry? Your startup could be the next big thing at Momentum
            2019. Registration is open, apply now!
          </mat-card-content>
        </mat-card>
      </ng-template>
      <ng-template ngbSlide>
        <mat-card>
          <img class="img-fluid" src="../../../assets/networkingLoungeLogo.png" />
          <h5><b>Networking Lounge</b></h5>
          <mat-card-content>
            Connect with industry bigwigs and supercharge your discussions without
            needing to spread it out over an email chain across weeks!
          </mat-card-content>
        </mat-card>
      </ng-template>
      <ng-template ngbSlide>
        <mat-card>
          <img class="img-fluid" src="../../../assets/officeHoursLogo.png" />
          <h5><b>Office Hours</b></h5>
          <mat-card-content>
            Tailor your business to perform at its peak! Understand what it takes
            to run a well-oiled machine and how to optimize your way through
            challenges.
          </mat-card-content>
        </mat-card>
      </ng-template>
      <ng-template ngbSlide>
        <mat-card>
          <img class="img-fluid" src="../../../assets/musicLogo.png" />
          <h5><b>Music & Entertainment</b></h5>
          <mat-card-content>
            Work & play go hand in hand! When we aren’t working, we’re exploring
            the intersections of tech & entertainment through interactive exhibits
            and live entertainment acts.
          </mat-card-content>
        </mat-card>
      </ng-template>
      <ng-template ngbSlide>
        <mat-card>
          <img class="img-fluid" src="../../../assets/mainConferenceLogo.png" />
          <h5><b>Main Conference</b></h5>
          <mat-card-content>
            11,000+ Attendees, 300+ Startups & 60+ Investors alongside global
            technology partners that power giants around the world. Find your
            reason to attend yet?
          </mat-card-content>
        </mat-card>
      </ng-template>
      <ng-template ngbSlide>
        <mat-card>
          <img class="img-fluid" src="../../../assets/FYPLogo.png" />
          <h5><b>FYP Pitching</b></h5>
          <mat-card-content>
            Do you have an idea that can impact? Have a product that could disrupt
            an industry? Your startup could be the next big thing at Momentum
            2019. Registration is open, apply now!
          </mat-card-content>
        </mat-card>
      </ng-template>
      <ng-template ngbSlide>
        <mat-card>
          <img class="img-fluid" src="../../../assets/influencersLogo.png" />
          <h5><b>Influencers</b></h5>
          <mat-card-content>
            It isn’t just about industry professionals, its about influential that
            can help seed your message to the masses. You never know who you’ll
            find on the conference floors.
          </mat-card-content>
        </mat-card>
      </ng-template>

    </ngb-carousel>
  </div>

</div>
