mat-card {

 margin: 15px;
  border-radius: 0 !important;
  font-family: Avenir !important;
  cursor: pointer;


}
.card-height{
  height: 270px;
}
.service-card:hover{
  -webkit-box-shadow: 9px 10px 0px 0px rgba(228,173,39,1) !important;
  -moz-box-shadow: 9px 10px 0px 0px rgba(228,173,39,1) !important;
  box-shadow: 9px 10px 0px 0px rgba(228,173,39,1) !important;
}


.first-card {
  background:transparent;
}

.first-card h1 {
  color: white;
}

.v_background{
  background:url('../../../assets/image/videoBackground.jpg');
  position: relative;
  background-size: cover;
  background-repeat: no-repeat;
}

.container-fluid {

  padding-bottom: 30px;
}

img {
  height: 50px;
  margin: 15px;
}



.sprite {
  background: url('../../../assets/sprite.png') no-repeat top left;
  height: 12px;
}

.sprite.shape4 {
  background-position: 0 -273px;
  width: 20px;
  height: 138px;
  position: absolute;
  top: 30%
}

.sprite.shape5 {
  background-position: 0 -421px;
  width: 129px;
  position: absolute;
  left: 28px;

  bottom: 11px;
}







@media only screen and (min-width : 767px) and (max-width : 1192px) {
  mat-card-content {
    font-size: 11px !important;
  }

  img {
    height: 50px !important;
  }
}
