<div class="container-fluid v_background">

  <div class="row top-pad">
    <div class='sprite shape4'></div>
    <div class="col-md-4 col-lg-3 col-sm-12 col-xs-12">
      <mat-card style="cursor:unset" class="first-card border-0 mat-elevation-z0 card-height">
        <h1>
          Here’s what<br />
          to expect at<br />
          Momentum<br />
          2019
        </h1>
      </mat-card>
    </div>
    <div class="col-md-4 col-lg-3 col-sm-12 col-xs-12 mat-hover">
      <mat-card class="yellow-shadow service-card card-height" (click)="loadStartup100()">
        <img class="img-fluid service-logo" src="../../../assets/startup100Logo.png" />
        <br />
        <h5><b>Startup 100</b></h5>

        <mat-card-content>
          Momentum 2019 is about being the Launchpad of another top 100 startups and SMEs of the country. We believe
          in scaling businesses like never before.
        </mat-card-content>
      </mat-card>
    </div>
    <div class="col-md-4 col-lg-3 col-sm-12 col-xs-12">
      <mat-card class="service-card card-height">
        <img class="img-fluid service-logo" src="../../../assets/networkingLoungeLogo.png" />
        <h5><b>Networking</b></h5>
        <mat-card-content>
          The leading technology and entrepreneurial ecosystem platform, Momentum 2019 is all set to host startups,
          SMEs, entrepreneurs, investors and multinational companies at our flagship event in Karachi.
        </mat-card-content>
      </mat-card>
    </div>
    <div class="col-md-4 col-lg-3 col-sm-12 col-xs-12">
      <mat-card (click)="loadHackathon()" class="service-card card-height">
        <img class="img-fluid service-logo" src="../../../assets/Fintech.png" />
        <h5><b> Fintech Hackathon </b></h5>
        <mat-card-content>
          Technology is the way into the future, so at Fintech Hackathon, we make teams gather around a huddle and ask
          them to ‘Get It Done’.
        </mat-card-content>
      </mat-card>
    </div>
    <div class="col-md-4 col-lg-3 col-sm-12 col-xs-12">
      <mat-card class="service-card card-height">
        <img class="img-fluid service-logo" src="../../../assets/musicLogo.png" />
        <h5><b>Music & Entertainment</b></h5>
        <mat-card-content>
          Festive and electrifying congregation of the accomplished – Momentum is back. Leading musicians are coming
          to make the whole ‘Momentum Experience’ more than just a learning for you.
        </mat-card-content>
      </mat-card>
    </div>
    <div class="col-md-4 col-lg-3 col-sm-12 col-xs-12">
      <mat-card (click)="loadMainConference()" class="service-card card-height">
        <img class="img-fluid service-logo" src="../../../assets/mainConferenceLogo.png" />
        <h5><b>Conference</b></h5>
        <mat-card-content>
          This year, Momentum is about ‘Get It Done’ – so we will discuss the funnel of activities to identify
          roadblocks and maximize economic benefits for everyone.
        </mat-card-content>
      </mat-card>
    </div>
    <div class="col-md-4 col-lg-3 col-sm-12 col-xs-12">
      <mat-card class="service-card card-height">
        <img class="img-fluid service-logo" src="../../../assets/Launch-pad.png" />
        <h5><b>Product Launches </b></h5>
        <mat-card-content>
          Momentum knows that ‘Saying No without Knowing’ is an absolute kill for products you believed in, therefore,
          proud
          to host ‘Product Launches’ at the event this year. Come and take first hand experience.
        </mat-card-content>
      </mat-card>
    </div>
    <div class="col-md-4 col-lg-3 col-sm-12 col-xs-12">
      <mat-card class="service-card card-height">
        <img class="img-fluid service-logo" src="../../../assets/workshop.png" />
        <h5><b>Workshops</b></h5>
        <mat-card-content>
          At Momentum 2019, we are addressing the greatest challenge of Corporate Innovation at workplace by offering
          workshops and trainings by the best global trainers and thought leaders.
        </mat-card-content>
      </mat-card>
    </div>
    <div class="col-md-4 col-lg-3 col-sm-12 col-xs-12">
      <mat-card class="service-card card-height">
        <img class="img-fluid service-logo" src="../../../assets/Careers.png" />
        <h5><b>Career Expo </b></h5>
        <mat-card-content>

          Looking for a right job or looking for a right candidate for your business? Momentum 2019 gives opportunity
          to both, employer and employee to network and find common grounds.

        </mat-card-content>
      </mat-card>
    </div>
    <div class="col-md-4 col-lg-3 col-sm-12 col-xs-12">
      <mat-card class="service-card card-height">
        <img class="img-fluid service-logo" src="../../../assets/influencersLogo.png" />
        <h5><b> Startup & Tech Expo </b></h5>
        <mat-card-content>

          The Startup & Tech Expo at Momentum 2019 is designed to inspire and encourage the cutting-edge technology
          and innovation that is shaping the future altogether.

        </mat-card-content>
      </mat-card>
    </div>
    <div class="col-md-4 col-lg-3 col-sm-12 col-xs-12">
      <mat-card class="service-card card-height">
        <img class="img-fluid service-logo" src="../../../assets/Experience Center.png" />
        <h5><b> Experience Centers </b></h5>
        <mat-card-content>

          Out of the world experiences set up by some of the best Global & Local companies in the tech ecosystem, get
          ready to have your mind blown!

        </mat-card-content>
      </mat-card>
    </div>
    <div class="col-md-4 col-lg-3 col-sm-12 col-xs-12">
      <mat-card class="first-card border-0 mat-elevation-z0  card-height" (click)="buyTicketRoute()">
        <h1>
          Get your <br> tickets now!

        </h1>
        <button class="btn btn-lg btn-block " style="background: #E4AD27; color: white; margin-top: 76px"
          (click)="buyTicketRoute()">Buy
          Now</button>
      </mat-card>
    </div>
  </div>
</div>

<div class='sprite shape5 d-none '></div>
