<div class="container profile">
    <div class="row">
        <div class="col-8">
            <div class="row">
                <div class="col-3">
                    <div class="dp"></div>
                </div>
                <div class="col-9">
                    <h2><span>Bilal Aftab Malik</span></h2>
                </div>
            </div>
            <p class="text-muted">Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloremque explicabo eveniet nihil, suscipit saepe ipsam sequi deleniti, quaerat, culpa quibusdam id. Sint iste deserunt asperiores voluptatum excepturi repellat deleniti voluptatem!</p>
            <p class="text-muted">Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloremque explicabo eveniet nihil, suscipit saepe ipsam sequi deleniti, quaerat, culpa quibusdam id. Sint iste deserunt asperiores voluptatum excepturi repellat deleniti voluptatem!</p>
        </div>
        <div class="col-4">
            <div class="works">
                <h2>Works In</h2>
                <ul>
                    <li>
                        <div class="row">
                            <div class="col-4">
                                <div class="work-bg"></div>
                            </div>
                            <div class="col-8" style="padding-left: 0;">
                                <span class="head">Happa Studios</span>
                                <span class="desc">Sr UI/UX</span>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="row">
                            <div class="col-4">
                                <div class="work-bg"></div>
                            </div>
                            <div class="col-8" style="padding-left: 0;">
                                <span class="head">Happa Studios</span>
                                <span class="desc">Sr UI/UX</span>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="skills">
                <h2>Skills</h2>
                <ul>
                    <li>
                        Graphic Design
                    </li>
                    <li>
                        Web Design
                    </li>
                    <li>
                        Development
                    </li>
                    <li>
                        Photography
                    </li>
                    <li>
                        Social Media
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>