.startup-card{
  background-repeat: no-repeat !important;
  background-size: contain !important;

  background-position: center !important;
height: 80px;
margin: 15px;
}

.startup-div{
  margin-top: 30px;
  padding-bottom: 30px
}
