<div class="container-fluid pricing">
  <div class="sprite shape11"></div>
  <div class="sprite shape2"></div>

  <div class="row">

    <div class="col-12">
      <div class="row" style="background: #E35045">
        <div class="col-12 text-center">
          <div class="support-paragraph"> In case of any queries Please Contact us on <a style="color: white"
              href="tel:03321422241">03321422241</a> & <a style="color: white" href="tel:03074443406">03074443406</a> or
            email
            us at
            <a style="color: white;" href="mailto:support@easytickets.pk">support@easytickets.pk</a> </div>
        </div>
      </div>
      <div class="row">
        <div class="col-12 text-center">
          <h1>Momentum Tickets</h1>
        </div>

      </div>
      <div class="row">
        <div class="col-md-3 col-sm-12 col-xs-12" style="margin-top: 30px" *ngFor="let item of pricing;">
          <div class="p-table h-100">
            <app-pricing-table [name]="item.name" [price]="item.price" [features]="item.features" [btn]="item.btn"
              [url]="item.url">
            </app-pricing-table>

          </div>

        </div>
      </div>
    </div>
  </div>

</div>
