<div class="container-fluid pricing">
  <div class="sprite shape11"></div>
  <div class="sprite shape2"></div>

  <div class="row">

    <div class="col-12">
      <div class="row">
        <div class="col-12 text-center">
          <h1>Momentum Tickets</h1>
        </div>

      </div>
      <div class="row">
        <div class="col-md-3 col-sm-12 col-xs-12" style="margin-top: 30px" *ngFor="let item of pricing;">
          <div class="p-table h-100">
            <app-pricing-table [name]="item.name" [price]="item.price" [features]="item.features" [btn]="item.btn"
              [url]="item.url">
            </app-pricing-table>

          </div>

        </div>
      </div>
    </div>
  </div>

</div>
