.content{
  margin-top: 60px;
}

.logo{
  height: 150px;
}


.service-logo{
  height: 80px;
}

.services{
  margin-top: 150px;
  margin-bottom: 30px;
}
a{
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 100%;
  display: inline-block;
}
