<div class="sprite shape11 d-none d-md-block"></div>
<div class='sprite shape7 d-none d-md-block'></div>
<div class="sprite shape10 d-none d-sm-block"></div>
<div class="container" style='position: relative'>

  <div class="row header">
    <div class="col-10 textt-center">
      <h1>{{this.obj['name']}}</h1>
    </div>

  </div>
  <div class="row ">
    <div class="col-md-6 col-sm-12 col-xs-12">
      <div class="top-divs">
        <p> <i><img src="../../../assets/calender.png" alt=""></i> &nbsp; {{this.obj['actualDate']}} &nbsp;
          &nbsp;&nbsp;&nbsp;
          <i><img src="../../../assets/clockIcon.png" alt=""></i> &nbsp; from {{this.obj['from']}} to
          {{this.obj['to']}}</p>
      </div>

    </div>
    <div class="col-md-6 col-sm-12 col-xs-12">
      <div class="top-divs">
        <p> <i><img src="../../../assets/locationIcon.png" alt=""></i>&nbsp; {{this.obj['venue']}}</p>
      </div>

    </div>
  </div>

  <br><br>
  <div class="row">
    <br>
    <p><b>Speakers:</b></p>

  </div>
  <div class="row">
    <div *ngFor="let x of this.obj['participant']">
      <div class="col" [ngClass]="{'d-none': x['name']===''}">
        <a href='#'>{{x.name}}</a>
      </div>
    </div>


  </div>

  <div class="row ">
    <div class="col-12">
      <p>
        <br><br>
        {{this.obj['description']}}

        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's
        standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make
        a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting,
        remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing
        Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions
        of Lorem Ipsum.

      </p>
    </div>


  </div>

  <div class="row">
    <div class="col-12">
      <h1>Images</h1>
    </div>
  </div>
  <div class="row position-relative">
    <div class="col-md-3" *ngFor="let i of images">
      <mat-card class="example-card mat-elevation-z0">

        <img mat-card-image [src]="i.url" alt="Photo of a Shiba Inu">
        <mat-card-content>

        </mat-card-content>
        <mat-card-header>
          <div mat-card-avatar class="example-header-image"></div>

        </mat-card-header>
      </mat-card>

    </div>
    <!-- <div class="col-md-3">
      <mat-card class="example-card mat-elevation-z0">

        <img mat-card-image src="../../../assets/speaker3.png" alt="Photo of a Shiba Inu">
        <mat-card-content>

        </mat-card-content>
        <mat-card-header>
          <div mat-card-avatar class="example-header-image"></div>
          <mat-card-title>Shaikh Aamir</mat-card-title>
          <mat-card-subtitle>Ceative Director</mat-card-subtitle>
        </mat-card-header>
      </mat-card>

    </div>
    <div class="col-md-3">
      <mat-card class="example-card mat-elevation-z0">

        <img mat-card-image src="../../../assets/speaker5.png" alt="Photo of a Shiba Inu">
        <mat-card-content>

        </mat-card-content>
        <mat-card-header>
          <div mat-card-avatar class="example-header-image"></div>
          <mat-card-title>Shaikh Aamir</mat-card-title>
          <mat-card-subtitle>Ceative Director</mat-card-subtitle>
        </mat-card-header>
      </mat-card>

    </div>
    <div class="col-md-3">
      <mat-card class="example-card mat-elevation-z0">

        <img mat-card-image src="../../../assets/speaker2.png" alt="Photo of a Shiba Inu">
        <mat-card-content>

        </mat-card-content>
        <mat-card-header>
          <div mat-card-avatar class="example-header-image"></div>
          <mat-card-title>Shaikh Aamir</mat-card-title>
          <mat-card-subtitle>Ceative Director</mat-card-subtitle>
        </mat-card-header>
      </mat-card>

    </div>
    <div class="col-md-3">
      <mat-card class="example-card mat-elevation-z0">

        <img mat-card-image src="../../../assets/speaker5.png" alt="Photo of a Shiba Inu">
        <mat-card-content>

        </mat-card-content>
        <mat-card-header>
          <div mat-card-avatar class="example-header-image"></div>
          <mat-card-title>Shaikh Aamir</mat-card-title>
          <mat-card-subtitle>Ceative Director</mat-card-subtitle>
        </mat-card-header>
      </mat-card>

    </div>

    <div class="col-md-3">
      <mat-card class="example-card mat-elevation-z0">

        <img mat-card-image src="../../../assets/speaker8.png" alt="Photo of a Shiba Inu">
        <mat-card-content>

        </mat-card-content>
        <mat-card-header>
          <div mat-card-avatar class="example-header-image"></div>
          <mat-card-title>Danise Morgan</mat-card-title>
          <mat-card-subtitle>Ceative Director</mat-card-subtitle>
        </mat-card-header>
      </mat-card>

    </div> -->


  </div>

</div>
