<div class="sprite shape11 d-none d-md-block"></div>
<div class='sprite shape7 d-none d-md-block'></div>
<div class="sprite shape10 d-none d-sm-block"></div>
<div class="container" style='position: relative'>

  <div class="row header">
    <div class="col-10 textt-center">
      <h1>Inteligently Connecting The World</h1>
    </div>

  </div>
  <div class="row ">
    <div class="col-md-6 col-sm-12 col-xs-12">
      <div class="top-divs">
        <p> <i><img src="../../../assets/calender.png" alt=""></i> Tuesday 30th Apr &nbsp; &nbsp;&nbsp;&nbsp; <i><img
              src="../../../assets/clockIcon.png" alt=""></i> Tuesday
          30th Apr</p>
      </div>

    </div>
    <div class="col-md-6 col-sm-12 col-xs-12">
      <div class="top-divs">
        <p> <i><img src="../../../assets/locationIcon.png" alt=""></i> Hall 4 - Auditorium 1, lahore</p>
      </div>

    </div>
  </div>
  <div class="row ">
    <div class="col-12">
      <p>
        <br><br>
        Network operators are the great enabler of the digital economy. Their contribution and statistics are
        astonishing<br><br>
        • The mobile industry eco-system has an economic impact of $3.9 trillion <br>
        • The industry connects ½ the world’s population to the Internet <br>
        • 5.1 billion people subscribe to a mobile service <br><br>

        The mobile industry has a tremendous impact and therefore responsibility toward individual, national and <br>
        international security, privacy and society. <br><br>

        The opening keynote of MWC19 will see the world’s leading operators, including for the first time Vodafone’s
        new
        <br>
        CEO Nick Read, discuss how they continue to push the boundaries of technological innovation through 5G, AI,
        IoT,
        <br>
        and Big Data. <br>
        They will also discuss the regulatory environment required to ensure operators are able to deploy these <br>
        technologies, and the strategies, business models and internal systems needed to ensure they deliver on their
        <br>
        promise. All within the context of their wider social and environmental responsibilities. <br>

      </p>
    </div>


  </div>

  <div class="row">
    <div class="col-12">
      <h1>Keynote Speakers</h1>
    </div>
  </div>
  <div class="row position-relative">
    <div class="col-md-3">
      <mat-card class="example-card mat-elevation-z0">

        <img mat-card-image src="../../../assets/speaker2.png" alt="Photo of a Shiba Inu">
        <mat-card-content>

        </mat-card-content>
        <mat-card-header>
          <div mat-card-avatar class="example-header-image"></div>
          <mat-card-title>Shaikh Aamir</mat-card-title>
          <mat-card-subtitle>Ceative Director</mat-card-subtitle>
        </mat-card-header>
      </mat-card>

    </div>
    <div class="col-md-3">
      <mat-card class="example-card mat-elevation-z0">

        <img mat-card-image src="../../../assets/speaker3.png" alt="Photo of a Shiba Inu">
        <mat-card-content>

        </mat-card-content>
        <mat-card-header>
          <div mat-card-avatar class="example-header-image"></div>
          <mat-card-title>Shaikh Aamir</mat-card-title>
          <mat-card-subtitle>Ceative Director</mat-card-subtitle>
        </mat-card-header>
      </mat-card>

    </div>
    <div class="col-md-3">
      <mat-card class="example-card mat-elevation-z0">

        <img mat-card-image src="../../../assets/speaker5.png" alt="Photo of a Shiba Inu">
        <mat-card-content>

        </mat-card-content>
        <mat-card-header>
          <div mat-card-avatar class="example-header-image"></div>
          <mat-card-title>Shaikh Aamir</mat-card-title>
          <mat-card-subtitle>Ceative Director</mat-card-subtitle>
        </mat-card-header>
      </mat-card>

    </div>
    <div class="col-md-3">
      <mat-card class="example-card mat-elevation-z0">

        <img mat-card-image src="../../../assets/speaker2.png" alt="Photo of a Shiba Inu">
        <mat-card-content>

        </mat-card-content>
        <mat-card-header>
          <div mat-card-avatar class="example-header-image"></div>
          <mat-card-title>Shaikh Aamir</mat-card-title>
          <mat-card-subtitle>Ceative Director</mat-card-subtitle>
        </mat-card-header>
      </mat-card>

    </div>
    <div class="col-md-3">
      <mat-card class="example-card mat-elevation-z0">

        <img mat-card-image src="../../../assets/speaker5.png" alt="Photo of a Shiba Inu">
        <mat-card-content>

        </mat-card-content>
        <mat-card-header>
          <div mat-card-avatar class="example-header-image"></div>
          <mat-card-title>Shaikh Aamir</mat-card-title>
          <mat-card-subtitle>Ceative Director</mat-card-subtitle>
        </mat-card-header>
      </mat-card>

    </div>

    <div class="col-md-3">
      <mat-card class="example-card mat-elevation-z0">

        <img mat-card-image src="../../../assets/speaker8.png" alt="Photo of a Shiba Inu">
        <mat-card-content>

        </mat-card-content>
        <mat-card-header>
          <div mat-card-avatar class="example-header-image"></div>
          <mat-card-title>Danise Morgan</mat-card-title>
          <mat-card-subtitle>Ceative Director</mat-card-subtitle>
        </mat-card-header>
      </mat-card>

    </div>


  </div>

</div>
