.top-divs {
  background: #F5F5F5;
  padding-top: 16px;
  padding-bottom: 3px;
  padding-left: 31px;
}

.card-row {
  flex-wrap: unset !important;
}

.header {
  padding-top: 46px;
}

.mat-card {
  padding-top: 50px;
}

p {
  font-size: 14px;
}

.position-relative {
  position: relative;
}



.yellow-bar {}
