<div class="sprite shape11 d-none d-md-block"></div>
<div class='sprite shape2 d-none d-md-block'></div>
<!-- <div class="jumbotron" style="margin-bottom: unset;"> -->

<div class="container main-container">

  <div class="row">
    <div class="col-12 text-center">
      <p><b> Thank you for your love and support for Momentum. We would be thrilled to see you next year at Momentum
          2020. If you'd like to receive updates and special offers, please fill out the form below.</b></p>
    </div>
    <div class="col-md-6 offset-md-3">

      <!-- <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
        <div class="form-group">
           <label>First Name</label>
          <input placeholder="First Name" type="text" formControlName="firstName"
            class="form-control best-field border-1" [ngClass]="{ 'is-invalid': submitted && f.firstName.errors }" />
          <div *ngIf="submitted && f.firstName.errors" class="invalid-feedback">
            <div *ngIf="f.firstName.errors.required">First Name is required</div>
          </div>
        </div>
        <div class="form-group">
          <label>Last Name</label>
          <input placeholder="Last Name" type="text" formControlName="lastName" class="form-control best-field"
            [ngClass]="{ 'is-invalid': submitted && f.lastName.errors }" />
          <div *ngIf="submitted && f.lastName.errors" class="invalid-feedback">
            <div *ngIf="f.lastName.errors.required">Last Name is required</div>
          </div>
        </div>
        <div class="form-group">
          <label>Email</label>
          <input placeholder="Email" type="text" formControlName="email" class="form-control best-field"
            [ngClass]="{ 'is-invalid': submitted && f.email.errors }" />
          <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
            <div *ngIf="f.email.errors.required">Email is required</div>
            <div *ngIf="f.email.errors.email">Email must be a valid email address</div>
          </div>
        </div>
        <div class="form-group">
          <label>Phone Number</label>
          <input placeholder="Phone #" type="number" formControlName="number" class="form-control best-field"
            [ngClass]="{ 'is-invalid': submitted && f.email.errors }" />
          <div *ngIf="submitted && f.number.errors" class="invalid-feedback">
            <div *ngIf="f.number.errors.required">Phone Number is required</div>
          </div>
        </div>



        <div class="form-group text-center">
          <button class="btn submit-btn">Submit</button>

        </div>

      </form> -->

      <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">


        <mat-form-field appearance="outline" class="col-12">
          <mat-label> First Name</mat-label>
          <input matInput placeholder="Enter Your First Name" formControlName="firstName">
          <!-- <mat-hint>Hint</mat-hint> -->
        </mat-form-field>
        <br>
        <mat-form-field appearance="outline" class="col-12">
          <mat-label>Last Name</mat-label>
          <input matInput placeholder="Enter Your Last Name" formControlName="lastName">

          <!-- <mat-hint>Hint</mat-hint> -->
        </mat-form-field>
        <br>
        <mat-form-field appearance="outline" class="col-12">
          <mat-label>Email</mat-label>
          <input matInput placeholder="Enter Your email Address" formControlName="email">

          <!-- <mat-hint>Hint</mat-hint> -->
        </mat-form-field>
        <br>
        <mat-form-field appearance="outline" class="col-12">
          <mat-label>Phone Number</mat-label>
          <input type="number" matInput placeholder="Enter Your Phone Number" formControlName="phone">
          <!-- <mat-hint>Hint</mat-hint> -->
        </mat-form-field>

        <div class="form-group text-center">
          <button class="btn submit-btn">Submit</button>

        </div>


      </form>
    </div>
  </div>
</div>
<!-- </div> -->
