.influencer-card {
  background-repeat: no-repeat !important;
  background-size: contain !important;

  background-position: center !important;
height: 300px;

}

.influencer-div{
  margin-top: 30px;
  padding-bottom: 30px
}
