.partner-card {
  /* background: url('../../../assets/partners/googleLogo..png'); */
background-repeat: no-repeat !important;
  background-size: contain !important;

  background-position: center !important;
margin-top: 4px;
height: 45px;
}
