<div class="container-fluid s-background">

  <div class="row">
    <div class="col-md-6 col-sm-12 col-xs-12 col-1-pad">
      <div class='sprite shape6'></div>
      <div class='sprite shape4'></div>


      <ul>
        <li>
          <h1 class="first-card text-center first-card-caption">Meet the<br> <span style="color: #E4AD27">2019</span>
            <br> Speakers</h1>
        </li>

        <li style="position: relative" *ngFor="let item of tempObj; let even = even; let odd = odd"
          [ngClass]="{'display-block': odd, 'display-none':even}">
          <a> <img src={{item.image}} alt="">
            <h1 class="speakerName-col-1">{{item.name}}</h1>
            <p class="speakerdesignation-col-1">{{item.company}}</p>
          </a>
        </li>

      </ul>
    </div>
    <div class="col-md-6 col-sm-12 col-xs-12">
      <div class='sprite shape7'></div>
      <ul>
        <li style="position: relative" *ngFor="let item of tempObj; let even = even; let odd = odd"
          [ngClass]="{'display-none': odd, 'display-block':even}">
          <!-- [routerLink]="['/speakers',item.id]" routerLinkActive="router-link-active"-->
          <a><img src={{item.image}} alt="">
            <h1 class="speakerName">{{item.name}}</h1>
            <p class="speakerdesignation">{{item.company}}</p>
          </a>
        </li>

      </ul>
    </div>
  </div>
  <div class="bottom-right-yellow-bar"></div>
</div>
