<div class="bg">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div id="title">
          <h1>
            Logistics at Momentum
          </h1>
          <h5 style="color:white;font-weight: 600;">Are you coming to Momentum? Haven't booked your hotel room yet?
            We're here to help <br><br>
          </h5>
        </div>
      </div>
    </div>
  </div>
</div>
<div style="margin-top: 50px; margin-bottom: 50px;" class="container">
  <div class="row">
    <div class="col-md-3 col-sm-12 col-xs-12 text-center"> <br>
      <img class="img-fluid" src="../../../assets/pc.jpg" alt="">
    </div>
    <div class="offset-md-1 col-md-8 col-sm-12 col-xs-12 "><br>
      <h1>Pearl Continental Hotel, Karachi <br> </h1>
      <h3>Official Hospitality Partner</h3> <br>
      <div> Code: MMT - 25% Off <br>
        <a class="border" href="https://www.pchotels.com/pckarachi/"
          target="_blank">https://www.pchotels.com/pckarachi/</a>
      </div>
    </div>



  </div>
  <hr>
  <div class="row">
    <div class="col-md-3 col-sm-12 col-xs-12"> <br>
      <img class="img-fluid" src="../../../assets/ktown.jpg" alt="">
    </div>
    <div class="offset-md-1 col-md-8 col-sm-12 col-xs-12"><br>
      <h1>Ktown Rooms, Karachi </h1> <br>
      <div> Code: Momentum - 25% Off <br>
        <a class="border" href="https://www.ktownrooms.com/ " target="_blank">https://www.ktownrooms.com/ </a>
      </div>
    </div>

  </div>





</div>
