<!-- <img class="offset-2 col-8 text-center logo-momentum" src="../../../assets/logo.png" alt="">

<form class="w-100">
  <p class="text-center">
    Tickets will be available soon, please drop your details here and we'll ping you when they're on sale!
  </p>
  <mat-form-field appearance="outline" class="col-12">
    <mat-label>Enter Your Name</mat-label>
    <input matInput placeholder="Name">
  </mat-form-field>

  <mat-form-field appearance="outline" class="col-12">
    <mat-label>Enter Your Phone #</mat-label>
    <input matInput placeholder="Phone Number">
  </mat-form-field>
  <button class="btn btn-lg btn-block btn-succes">Send</button>
</form> -->

<p class="text-center">Thanks for your interest, drop us an email at <a
    href="mailto:tickets@momentum.org.pk">tickets@momentum.org.pk</a> to get your interview scheduled for an influencer
  pass</p>
<!-- <button class="btn btn-lg btn-block">Explore</button> -->

<!-- <a class="typeform-share button" href="https://uninama.typeform.com/to/uyhp74" data-mode="popup"
  style="display:inline-block;text-decoration:none;background-color:#267DDD;color:white;cursor:pointer;font-family:Helvetica,Arial,sans-serif;font-size:20px;line-height:50px;text-align:center;margin:0;height:50px;padding:0px 33px;border-radius:25px;max-width:100%;white-space:nowrap;overflow:hidden;text-overflow:ellipsis;font-weight:bold;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale;"
  target="_blank">Launch me </a>
<script> (function () { var qs, js, q, s, d = document, gi = d.getElementById, ce = d.createElement, gt = d.getElementsByTagName, id = "typef_orm_share", b = "https://embed.typeform.com/"; if (!gi.call(d, id)) { js = ce.call(d, "script"); js.id = id; js.src = b + "embed.js"; q = gt.call(d, "script")[0]; q.parentNode.insertBefore(js, q) } })() </script> -->
