<div class="container">
  <div class="row">
    <div class="col-12 text-center">
      <img src="../../assets/logo.png" alt="">
    </div>
  </div>
  <div class="row">
    <div class="col">
      <p><b>Terms & Conditions </b><br>
        Welcome to the website of MOMENTUM, (“we”, “our” or “us”). This page (together with the documents referred to on
        it) tells you the terms upon which you may use this website, Momentum.org.pk (“Site”), whether as a guest or a
        registered user. Please read these terms of service (“Terms”) carefully before you start to use our Site. By
        using
        our Site, you indicate that you accept these Terms and that you agree to abide by them. If you do not agree to
        these Terms, please refrain from using the Site.
      </p>
      <p><b>Changes to these Terms <br></b>
        We may revise these Terms at any time in our sole discretion by amending this page. All changes are effective
        immediately when we post them. You are expected to check this page from time to time to take notice of any
        changes
        that we have made, as they are binding on you. Your continued use of the Site following the posting of revised
        Terms means that you accept and agree to the changes. Some of the provisions contained in these Terms may also
        be
        superseded by provisions or notices published elsewhere on our Site. Additional terms and conditions may also
        apply to specific portions, services or features of the Site. All such additional terms and conditions are
        hereby
        incorporated by this reference into these Terms</p>

      <p><b>Accessing Our Site </b><br>
        Access to our Site is permitted on a temporary basis, and we reserve the right to withdraw or amend the service
        we
        provide on our Site without notice. We will not be liable if for any reason our Site is unavailable at any time
        or
        for any period. To access the Site or some of the resources it offers, you may be asked to provide certain
        registration details or other information. It is a condition of your use of the Site that all the information
        you
        provide on the Site is correct, current and complete. You agree that all information you provide to register
        with
        this Site or otherwise is governed by our Privacy Policy, and you consent to all actions we take with respect to
        your information consistent with our Privacy Policy. From time to time, we may restrict access to some parts of
        our Site, or our entire site, to users who have registered with us. <br>
        If you choose, or you are provided with, a user name, password or any other piece of information as part of our
        security procedures, you must treat such information as confidential, and you must not disclose it to any third
        party. You acknowledge that your account is personal to you and agree not to provide any other person with
        access
        to this Site or portions of it using your user name, password or other security information. You agree to notify
        us immediately of any unauthorized access to or use of your user name
        or password or any other breach of security. You also agree to ensure that you exit from your account at the end
        of each session. <br>
        You should use particular caution when accessing your account from a public or shared computer so that others
        are
        not able to view or record your password or other personal information. We have the right to disable any user
        name
        or password, whether chosen by you or allocated by us, at any time, in our sole discretion for any or no reason,
        including if in our opinion you have failed to comply with any of the provisions of these Terms.
        You are responsible for making all arrangements necessary for you to have access to our Site. You are also
        responsible for ensuring that all persons who access our Site through your Internet connection are aware of
        these
        Terms, and that they comply with them. <br>
        You may use the Site only for lawful purposes and in accordance with these Terms. You agree not to use the Site:
        In any way that violates any applicable federal, state, local or international law or regulation. To impersonate
        or attempt to impersonate any other person or entity (including, without limitation, by using e-mail addresses
        or
        user names associated with any other person or entity). To engage in any other conduct that restricts or
        inhibits
        anyone's use or enjoyment of the Site, or which, as determined by us, may harm Us or users of the Site or expose
        US or them to liability. In any manner that could disable, overburden, damage, or impair the Site or interfere
        with any other party’s use of the Site. Additionally, you may not: Use any robot, spider or other automatic
        device, process or means to access the Site for any purpose, including monitoring or copying any of the material
        on the Site. Use any manual process to monitor or copy any of the material on the Site for any other
        unauthorized
        purpose. Attempt to gain unauthorized access to, interfere with, damage or disrupt any parts of the Site, the
        server on which the Site is stored, or any server, computer or database connected to the Site.

      </p>
      <p><b>Intellectual Property Rights</b><br>
        The Site and its entire contents, features and functionality (including but not limited to all information,
        software, text, displays, images, video and audio, and the design, selection and arrangement thereof), are owned
        by Us, our licensors or other providers of such material and are protected by United States and international
        copyright, trademark, patent, trade secret and other intellectual property or proprietary rights laws. These
        Terms
        permit you to use the Site for your personal, non-commercial use only. You must not reproduce, distribute,
        modify,
        create derivative works of, publicly display, publicly perform, republish, download, store or transmit any of
        the
        material on our Website, except as follows: <br>
        Your computer may temporarily store copies of such materials in RAM incidental to your accessing and viewing
        those
        materials. You may store files that are automatically cached by your Web browser for display enhancement
        purposes.
        You may print or download one copy of a reasonable number of pages of the Website for your own personal,
        non-commercial use and not for further reproduction, publication or distribution. If we provide desktop, mobile
        or
        other applications for download, you may download a single copy to
        your computer or mobile device solely for your own personal, non-commercial use, provided you agree to be bound
        by
        our end user license agreement for such applications. <br>
        You must not: Modify copies of any materials from this site. Delete or alter any copyright, trademark or other
        proprietary rights notices from copies of materials from this site. If you wish to make any use of material on
        the
        Website other than that set out in this section, please address your request to: ​info@momentum.org.pk If you
        print, copy, modify, download or otherwise use or provide any other person with access to any part of the Site
        in
        breach of the Terms, your right to use the Site will cease immediately and you must, at our option, return or
        destroy any copies of the materials you have made. No right, title or interest in or to the Site or any content
        on
        the Site is transferred to you, and all rights not expressly granted are reserved by Us. Any use of the Site not
        expressly permitted by these Terms is a breach of these Terms and may violate copyright, trademark and other
        laws.
        <br>
      </p>

      <p><b>Trademarks </b>
        <br>
        Our name, the term Momentum, and all related names, logos, product and service names, designs and slogans are
        Our
        trademarks or Our affiliates or licensors. You must not use such marks without Our prior written permission. All
        other names, logos, product and service names, designs and slogans on this Site are the trademarks of their
        respective owners.
      </p>
      <p>
        <b>Reliance on information posted </b> <br>
        The information presented on or through the Site is made available solely for general information purposes. We
        do
        not warrant the accuracy, completeness or usefulness of this information. Any reliance you place on such
        information is strictly at your own risk. We disclaim all liability and responsibility arising from any reliance
        placed on such materials by you or any other visitor to the Site, or by anyone who may be informed of any of its
        contents. <br>
        This Website may include content provided by third parties, including materials provided by other users,
        bloggers
        and third-party licensors, syndicators, aggregators and/or reporting services. All statements and/or opinions
        expressed in these materials, and all articles and responses to questions and other content, other than the
        content provided by Us, are solely the opinions and the responsibility of the person or entity providing those
        materials. These materials do not necessarily reflect Our opinion. We are not responsible, or liable to you or
        any
        third party, for the content or accuracy of any materials provided by any third parties.
      </p>

      <p><b>Our Site changes regularly </b> <br>
        We aim to update our Site regularly, and may change the content at any time. If the need arises, we may suspend
        access to our Site, or close it indefinitely. Any of the material on our Site may be out of date at any given
        time, and we are under no obligation to update such material.
      </p>

      <p><b>Linking to the Our Site </b> <br>

        You may link to our homepage, provided you do so in a way that is fair and legal and does not damage our
        reputation or take advantage of it, but you must not establish a link in such a way as to suggest any
        form of association, approval or endorsement on our part. You must not establish a link from any website that is
        not owned by you. <br> Our Site must not be framed on any other site, nor may you create a link to any part of
        our
        Site other than the home page. We reserve the right to withdraw linking permission without notice.

      </p>

      <p><b>Links from Our Site </b><br>
        Our Site contains links to other sites and resources provided by third parties, which are provided for your
        convenience only. These include links contained in advertisements, including banner advertisements and sponsored
        links. We have no control over the contents of those sites or resources, and accept no responsibility for them
        or
        for any loss or damage that may arise from your use of them. If you decide to access any of the third party
        websites linked to this Site, you do so entirely at your own risk and subject to the terms and conditions of use
        for such websites.
      </p>

      <p><b>Our Liability </b>
        <br>
        IN NO EVENT WILL WE, OUR AFFILIATES OR OUR OR THEIR LICENSORS, SERVICE PROVIDERS, EMPLOYEES, AGENTS, OFFICERS OR
        DIRECTORS BE LIABLE FOR DAMAGES OF ANY KIND, UNDER ANY LEGAL THEORY, ARISING OUT OF OR IN CONNECTION WITH YOUR
        USE, OR INABILITY TO USE, THE WEBSITE, ANY WEBSITES LINKED TO IT, ANY CONTENT ON THE WEBSITE OR SUCH OTHER
        WEBSITES OR ANY SERVICES OR ITEMS OBTAINED THROUGH THE WEBSITE OR SUCH OTHER WEBSITES, INCLUDING ANY DIRECT,
        INDIRECT, SPECIAL, INCIDENTAL, CONSEQUENTIAL OR PUNITIVE DAMAGES, INCLUDING BUT NOT LIMITED TO, PERSONAL INJURY,
        PAIN AND SUFFERING, EMOTIONAL DISTRESS, LOSS OF REVENUE, LOSS OF PROFITS, LOSS OF BUSINESS OR ANTICIPATED
        SAVINGS,
        LOSS OF USE, LOSS OF GOODWILL, LOSS OF DATA, AND WHETHER CAUSED BY TORT (INCLUDING NEGLIGENCE), BREACH OF
        CONTRACT
        OR OTHERWISE, EVEN IF FORESEEABLE. THE FOREGOING DOES NOT AFFECT ANY LIABILITY WHICH CANNOT BE EXCLUDED OR
        LIMITED
        UNDER APPLICABLE LAW.
      </p>

      <p><b>Disclaimer of Warranties </b> <br>
        You understand that we cannot and do not guarantee or warrant that files available for downloading from the
        internet or the Site will be free of viruses or other destructive code. You are responsible for implementing
        sufficient procedures and checkpoints to satisfy your particular requirements for anti-virus protection and
        accuracy of data input and output, and for maintaining a means external to our site for any reconstruction of
        any
        lost data. <br>
        WE WILL NOT BE LIABLE FOR ANY LOSS OR DAMAGE CAUSED BY A DISTRIBUTED DENIAL-OF-SERVICE ATTACK, VIRUSES OR OTHER
        TECHNOLOGICALLY HARMFUL MATERIAL THAT MAY INFECT YOUR COMPUTER EQUIPMENT, COMPUTER PROGRAMS, DATA OR OTHER
        PROPRIETARY MATERIAL DUE TO YOUR USE OF THE WEBSITE OR ANY SERVICES OR ITEMS OBTAINED THROUGH THE WEBSITE OR TO
        YOUR DOWNLOADING OF ANY MATERIAL POSTED ON IT, OR ON ANY WEBSITE LINKED TO IT. <br>
        YOUR USE OF THE SITE, ITS CONTENT AND ANY SERVICES OR ITEMS OBTAINED THROUGH THE SITE IS AT YOUR OWN RISK. THE
        SITE, ITS CONTENT AND ANY SERVICES OR ITEMS OBTAINED THROUGH THE SITE ARE PROVIDED ON AN "AS IS" AND "AS
        AVAILABLE" BASIS, WITHOUT ANY WARRANTIES OF ANY KIND, EITHER EXPRESS OR IMPLIED. NEITHER WE NOR ANY PERSON
        ASSOCIATED WITH US MAKES ANY WARRANTY OR REPRESENTATION WITH RESPECT TO THE COMPLETENESS, SECURITY, RELIABILITY,
        QUALITY, ACCURACY OR AVAILABILITY OF THE SITE. WITHOUT LIMITING THE FOREGOING, NEITHER WE
        NOR ANYONE ASSOCIATED WITH US REPRESENTS OR WARRANTS THAT THE SITE, ITS CONTENT OR ANY SERVICES OR ITEMS
        OBTAINED
        THROUGH THE SITE WILL BE ACCURATE, RELIABLE, ERROR-FREE OR UNINTERRUPTED, THAT DEFECTS WILL BE CORRECTED, THAT
        OUR
        SITE OR THE SERVER THAT MAKES IT AVAILABLE ARE FREE OF VIRUSES OR OTHER HARMFUL COMPONENTS OR THAT THE SITE OR
        ANY
        SERVICES OR ITEMS OBTAINED THROUGH THE SITE WILL OTHERWISE MEET YOUR NEEDS OR EXPECTATIONS. <br>
        WE HEREBY DISCLAIM ALL WARRANTIES OF ANY KIND, WHETHER EXPRESS OR IMPLIED, STATUTORY OR OTHERWISE, INCLUDING BUT
        NOT LIMITED TO ANY WARRANTIES OF MERCHANTABILITY, NON-INFRINGEMENT AND FITNESS FOR PARTICULAR PURPOSE. THE
        FOREGOING DOES NOT AFFECT ANY WARRANTIES WHICH CANNOT BE EXCLUDED OR LIMITED UNDER APPLICABLE LAW.
      </p>
      <p><b>Information about you and your visits to our Site </b>
        <br>
        All information we collect on this Site is subject to our Privacy Policy. By using the Site, you consent to all
        actions taken by us with respect to your information in compliance with the Privacy Policy. By using our Site,
        you
        consent to such processing and you warrant that all data provided by you is accurate.
      </p>
      <p><b>Indemnification </b> <br>
        You agree to defend, indemnify and hold harmless Us, our affiliates, and Our and their licensors, service
        providers, officers, directors, employees, contractors, agents, suppliers, successors and assigns from and
        against
        any claims, liabilities, damages, judgments, awards, losses, costs, expenses or fees (including reasonable
        attorneys' fees) arising out of or relating to your violation of these Terms or your use of the Site.
      </p>
      <p><b>Governing Law and Jurisdiction </b> <br>
        All matters relating to the Site and these Terms and any dispute or claim arising therefrom or related thereto
        (in
        each case, including non-contractual disputes or claims), are governed by and construed in accordance with the
        internal laws of Pakistan without giving effect to any choice or conflict of law provision or rule. <br>
        Any legal suit, action or proceeding arising out of, or related to, these Terms or the Site shall be instituted
        exclusively in the federal courts of Pakistan, although We retain the right to bring any suit, action or
        proceeding against you for breach of these Terms of Service in your country of residence or any other relevant
        country. You waive any and all objections to the exercise of jurisdiction over you by such courts and to venue
        in
        such courts.
      </p>
      <p><b>Limitation on Time to File Claims </b><br>
        ANY CAUSE OF ACTION OR CLAIM YOU MAY HAVE ARISING OUT OF OR RELATING TO THESE TERMS OF USE OR THE WEBSITE MUST
        BE
        COMMENCED WITHIN ONE (1) YEAR AFTER THE CAUSE OF ACTION ACCRUES, OTHERWISE, SUCH CAUSE OF ACTION OR CLAIM IS
        PERMANENTLY BARRED.
      </p>
      <p><b>Waiver and Severability</b><br>
        No waiver by us of any term set forth in these Terms may be deemed a further or continuing waiver of such term
        or
        condition or a waiver of any other term or condition, and any failure by Us to assert a right or provision under
        these Terms does not constitute a waiver of such right or provision. <br>
        If any provision of these Terms is held by a court or other tribunal of competent jurisdiction to be invalid,
        illegal or unenforceable for any reason, such provision shall be eliminated or limited to the minimum extent
        such
        that the remaining provisions of the Terms will continue in full force and effect.
      </p>

      <p><b>Entire Agreement </b><br>
        The Terms of Service and our Privacy Policy constitute the sole and entire agreement between you and MOMENTUM
        Pvt.
        Ltd. with respect to the Site and supersede all prior and contemporaneous understandings, agreements,
        representations and warranties, both written and oral, with respect to the Site .ANY CAUSE OF ACTION OR CLAIM
        YOU
        MAY HAVE ARISING OUT OF OR RELATING TO THESE TERMS OF USE OR THE WEBSITE MUST BE COMMENCED WITHIN ONE (1) YEAR
        AFTER THE CAUSE OF ACTION ACCRUES, OTHERWISE, SUCH CAUSE OF ACTION OR CLAIM IS PERMANENTLY BARRED.
      </p>
      <p><b>Your Concerns </b><br>
        If you have any concerns about material which appears on our Site, please contact ​ <a
          href="mailto:info@momentum.org.pk "> info@momentum.org.pk </a>
      </p>
    </div>
  </div>
</div>
