<div class="container-fluid " style="position: relative">
  <div class="sprite shape11"></div>
  <div class="container">

    <div class="row">
      <div class="col-md-4 col-sm-12 col-xs-12">
        <img class="logo-img" src="../../../assets/logoWhite.png" alt="" />
        <p>
          Momentum is a global startup community designed to educate, inspire
          and connect Pakistani entrepreneurs who work on innovative and
          disruptive technologies to create the knowledge economy to drive
          Pakistan's growth over the coming decade.
        </p>
      </div>
      <div class="col-md-4 col-sm-12 col-xs-12 address-col">
        <ul>
          <li>
            <b>Our Address</b>
          </li>
          <li>
            <p>
              Mezzanine Floor, 29-C, Sunset Lane # 01, Phase II Ext., D.H.A,
              Karachi
            </p>
          </li>
          <li>
            <p>
              Privacy Policy
            </p>
          </li>
        </ul>
      </div>
      <div class="col-md-4 col-sm-12 col-xs-12 contact-col">
        <ul>
          <li>
            <p>0800-00345</p>
          </li>
          <li>
            <p>info@momentum.org.pk</p>
          </li>
          <li>
            <p>
              View on google maps
            </p>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="row copyright-row">
    <div class="col-4">
      <p>Copyright © 2018 Momentum All rights reserved.</p>
    </div>
    <div class="offset-4 col-4">
      <ul class="bottom-list">
        <li class="footer-links"><a href="#">Tracks</a></li>
        <li class="footer-links"><a>-</a></li>
        <li class="footer-links"><a href="#">Speakers</a></li>
        <li class="footer-links"><a>-</a></li>
        <li class="footer-links"><a href="#">Partners</a></li>
        <li class="footer-links"><a>-</a></li>
        <li class="footer-links"><a href="#">Tickets</a></li>
        <li class="footer-links"><a>-</a></li>
        <li class="footer-links"><a href="#">Startups</a></li>
      </ul>
    </div>
  </div>
  <div class="right-bar d-none d-sm-block">
    <div class="yellow-bar"></div>

    <ul class="right-bar-ul">
      <li class="right-bar-li"><i class="fab fa-facebook-f"></i></li>
      <li class="right-bar-li"><i class="fab fa-twitter"></i></li>
      <li class="right-bar-li"><i class="far fa-envelope"></i></li>
    </ul>
  </div>
</div>
