<div class="container-fluid  footer-container" style="position: relative">
  <div class="sprite shape11"></div>
  <div class="container">

    <div class="row">
      <div class="offset-md-1  col-md-4 col-sm-12 col-xs-12">
        <img class="logo-img" style="margin-left: 0px !important; margin-bottom: 15px;"
          src="../../../assets/logoWhite.png" alt="" />
        <p>
          Momentum is a global startup community designed to educate, inspire
          and connect Pakistani entrepreneurs who work on innovative and
          disruptive technologies to create the knowledge economy to drive
          Pakistan's growth over the coming decade.
        </p>
      </div>
      <div class="offset-md-1 col-md-3 col-sm-6 col-xs-6 w-50 top-padd">
        <p> <b>Address</b> <br> Mezzanine Floor, 29-C, Sunset <br> Lane # 01, Phase II Ext., D.H.A, Karachi</p>

      </div>
      <div class="col-md-3 col-sm-6 col-xs-6 w-50 top-padd">
        <p>
          <!-- <i class="fas fa-mobile-alt "></i>  -->
          0800-00345<br><br>
          <!-- <i class="fas fa-envelope-square "></i> -->
          info@momentum.org.pk<br><br>
          <!-- <i class="fas fa-map-marker-alt"></i> -->
          View on google maps</p>
      </div>
    </div>
  </div>
  <div class="row copyright-row">
    <div class="d-block d-md-none col-12 text-center">
      <ul style="display: inline-flex;;">
        <a href="https://www.facebook.com/MomentumTechConference/" target="_blank">
          <li class="right-bar-li" style="color: white"><i class="fab fa-facebook-f"></i></li>
        </a>
        <a href="https://twitter.com/MomentumCon2019" target="_blank">
          <li class="right-bar-li" style="color: white"><i class="fab fa-twitter"></i></li>
        </a>
        <a href="https://www.instagram.com/momentumcon2019/" target="_blank">
          <li class="right-bar-li" style="color: white"><i class="fab fa-instagram"></i></li>
        </a>
        <a href="mailto:info@momentum.com.org.pk" target="_blank">
          <li class="right-bar-li" style="color: white"><i class="far fa-envelope"></i></li>
        </a>
      </ul>
    </div>
    <div class="col-md-4 col-sm-12 col-xs-12 text-center">
      <p>Copyright © 2018 Momentum All rights reserved.</p>
    </div>

    <div class="offset-md-4 col-md-4 col-sm-12 col-xs-12 text-center offset-1">
      <ul class="bottom-list" style="    justify-content: center; display: flex;">
        <!-- <li class="footer-links"><a href="#">Tracks</a></li>
        <li class="footer-links"><a>-</a></li>
        <li class="footer-links"><a href="#">Speakers</a></li>
        <li class="footer-links"><a>-</a></li>
        <li class="footer-links"><a href="#">Partners</a></li>
        <li class="footer-links"><a>-</a></li> -->
        <li class="footer-links"><a href="/buy-ticket">Tickets</a></li>
        <li class="footer-links"><a>-</a></li>
        <li class="footer-links"><a href="http://blog.momentum.org.pk/" target="_blank">Blog</a></li>
        <li class="footer-links"><a>-</a></li>
        <li class="footer-links"><a href="#">Home</a></li>
        <!-- <li class="footer-links"><a>-</a></li>
        <li class="footer-links"><a href="#">Startups</a></li> -->
      </ul>
    </div>
  </div>
  <div class="right-bar d-none d-sm-block">
    <div class="yellow-bar"></div>

    <ul class="right-bar-ul">
      <a href="https://www.facebook.com/MomentumTechConference/" target="_blank">
        <li class="right-bar-li" style="color: white"><i class="fab fa-facebook-f"></i></li>
      </a>
      <a href="https://twitter.com/MomentumCon2019" target="_blank">
        <li class="right-bar-li" style="color: white"><i class="fab fa-twitter"></i></li>
      </a>
      <a href="https://www.instagram.com/momentumcon2019/" target="_blank">
        <li class="right-bar-li" style="color: white"><i class="fab fa-instagram"></i></li>
      </a>
      <a href="mailto:info@momentum.com.org.pk" target="_blank">
        <li class="right-bar-li" style="color: white"><i class="far fa-envelope"></i></li>
      </a>
    </ul>
  </div>
</div>
