<div id="content" class="">
  <div class="sh-group blog-list blog-style-grid">

    <div class="sh-nothing-found sh-table">
      <div class="sh-table-cell-top">
        <i class="icon-compass"></i>
      </div>
      <div class="sh-table-cell-top">
        <br><br>
        <h2>Nothing Found</h2>
        <br> <br>
        <p>
          It seems we can’t find what you’re looking for.</p>
        <br>
        <br>
      </div>
    </div>

    <div class="sh-nothing-found-big">
      <span></span>
      <div></div>
    </div>

  </div>

</div>
